* {
    border-radius: 0 !important;
}
body {
    background-color: #fffdc5;
}
#content {
    background-color: #fffdc5;
}


.navbar {
    background: linear-gradient(to right, #46fdfc, #ff94f0);
    /*background-color: #46fdfc;*/
    color: black;
    font-size: 16px;
    /*margin-bottom:0px;*/
    -webkit-box-shadow: 0px 22px 21px -14px black;
    -moz-box-shadow: 0px 22px 21px -14px black;
    box-shadow: 0px 22px 21px -14px black;
}
    .navbar a {
        color: black;

    }


li.dropdown {

}
    li.dropdown:hover > .dropdown-menu {
        display: block;
        color: red;
        -webkit-box-shadow: 0 0 30px black;
        -moz-box-shadow: 0 0 30px black;
        box-shadow: 0 15px 30px black;
        display: block;
        /* color: red; */
        height: 410px;
        background-color: #b077b0;
    }


.navbar-brand {
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
}
.nav img {
    max-height:34px;
}
.nav li a {
    text-decoration:underline;
    /*padding-bottom:5px;*/
}


.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
    text-decoration: none;
}

.dropdown-menu > li > a {
    background-color: #b077b0;
    padding: 10px 15px;
    text-decoration: none;
}

    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        background-color: #aa66aa;
    }



@media (min-width:768px) {
    .navbar-form .form-control {
        width: 500px;
    }
}







.glyphicon  {
    font-size:22px;
}

/*#sidebar-wrapper {
    right: 250px !important;
    margin-right: -250px !important;
}*/


#content,
#sidebar {
    min-height: 500px;
}

#row-main {
    overflow-x: hidden; /* necessary to hide collapsed sidebar */
}

#content {
 
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

    #content .btn-group {
        margin-bottom: 10px;
    }

.col-md-9 .width-12,
.col-md-12 .width-9 {
    display: none; /* just hiding labels for demo purposes */
}

#sidebar {
    background-color: #c16fc1;
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
    box-shadow: -5px 5px 30px 5px black;
    margin-bottom: 25px;
    margin-top: 15px;
}

.collapsed {
    display: none; /* hide it for small displays */
}

@media (min-width: 992px) {
    .collapsed {
        display: block;
        margin-right: -25%; /* same width as sidebar */
    }
}
#content,
#sidebar {
    min-height: 500px;
}

#row-main {
    overflow-x: hidden; /* necessary to hide collapsed sidebar */
}


    #content .btn-group {
        margin-bottom: 10px;
    }

.col-md-9 .width-12,
.col-md-12 .width-9 {
    display: none; /* just hiding labels for demo purposes */
}

#sidebar {
    background-color: #c16fc1;
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;

}
#sidebar ul {
    padding-left:0px;
}
    #sidebar ul li {
        color: black;
        text-decoration: none;
        list-style: none;
        font-size: 20px;
        text-align: center;
        margin: 20px;
    }
#sidebar ul li a {
    color:black;

}

.collapsed {
    display: none; /* hide it for small displays */
}

@media (min-width: 992px) {
    .collapsed {
        display: block;
        margin-right: -25%; /* same width as sidebar */
    }
    /*.dropdown-menu {
        left:0;
        display:block;
    }*/
}

.jumbotron .container {
    background-image: url("../img/bg.jpg");
    color:white;
}
.profileimg {
  margin-bottom:-100px;
   margin-left:10%
}
.songlinkbg {
    background-image: url("../img/bg.jpg");
}

.upload {
    background-color: #cc9266;
    text-align: center;
    margin-top:50px;
    max-width:800px;
}
.innerbox {
    background: linear-gradient(to right, #46fdfc, #ff94f0);
    /*min-height:500px;*/
}
.upload .innerbox input {
    padding-top:300px;
    margin:0 auto;
}
.innerbox p {
    padding:20px 0px;
}

.settings {
    background-color: #f2eeeb;
    text-align: center;
    margin-top: 50px;
    max-width: 800px;
}

.upload, .settings{
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 28px 32px -14px black;
    -moz-box-shadow: 0px 28px 32px -14px black;
    box-shadow: 0px 28px 32px -14px black;
}
img {
    -webkit-box-shadow: 0px 18px 22px -14px black;
    -moz-box-shadow: 0px 18px 22px -14px black;
    box-shadow: 0px 18px 22px -14px black;
}
#content .jumbotron, #content > .jumbotron > .container {
    -webkit-box-shadow: 0px 18px 22px -14px black;
    -moz-box-shadow: 0px 18px 22px -14px black;
    box-shadow: 0px 18px 22px -14px black;
}
.signin {
    
    max-width: 500px;
}
    .signin .innerbox {
        margin-top: 100px;
        margin-bottom: 35px;
        -webkit-box-shadow: 0px 28px 32px -14px black;
        -moz-box-shadow: 0px 28px 32px -14px black;
        box-shadow: 0px 28px 32px -14px black;
        border: 1px solid black;
        border-radius: 10px !important;
        padding: 20px;
    }

    .signin form {
        text-align:center;

    }
    .signin form input {
        width:50%;
       margin-top:15px;
       margin-bottom:15px;
    }
        .signin form button {
            border: none;
            border-radius: 10px !important;
            background-color: white;
            margin:10px 15px;
        }


.wbg {
    border: none;
    border-radius:25px !important;
    background-color: white;
    margin-left:5px;
    margin-right:5px;
    text-decoration:none !important;
}
.navbar .container-fluid {
    margin-top:10px;
    margin-bottom:10px;
}

.navbar-nav {
    float:right;
}
