<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">BillBoards <img style="display:inline;max-height:20px;" src="./img/logo.png" /></a>
            </div>
            <form class="navbar-form navbar-left" action="/action_page.php">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="search">
                </div>
            </form>
            <ul class="nav navbar-nav">
                <li><a href="upload.html"><img src="./img/upload.png" /></a></li>
                <li><a href="/">Popular</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pop <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/pop">Pop</a></li>
                        <li><a href="/hip-hop">Hip-Hop</a></li>
                        <li><a href="/old-school-hh">Old School Hip Hop</a></li>
                        <li><a href="/trap">Trap</a></li>
                        <li><a href="/electro">Electro</a></li>
                        <li><a href="/rnb">R&B</a></li>
                        <li><a href="/techno">Techno</a></li>
                        <li><a href="/dubstep">Dubstep</a></li>
                        <li><a href="/acapella">Acapella</a></li>
                        <li><a href="/tropical">Tropical</a></li>
                    </ul>
                    <ul class="dropdown-menu" style="left:-160px;">
                            
                        <li><a href="/bass-house">Bass House</a></li>
                        <li><a href="/dance">Dance/ Edm</a></li>
                        <li><a href="/instrumental">Instrumental</a></li>
                        <li><a href="/jazz">Jazz</a></li>
                        <li><a href="/orchestral">Orchestral</a></li>
                        <li><a href="/disco">Disco</a></li>
                        <li><a href="/heavy-metal">Heavy Metal</a></li>
                        <li><a href="/classical">Classical</a></li>
                        <li><a href="/salsa">Salsa</a></li>
                        <li><a href="/romantic">Romantic</a></li>
                    </ul>
                    <ul class="dropdown-menu" style="left:-320px;">
                        <li><a href="/funk">Funk</a></li>
                        <li><a href="/reggae">Reggae</a></li>
                        <li><a href="/house">House</a></li>
                        <li><a href="/tango">Tango</a></li>
                        <li><a href="/blues">Blues</a></li>
                        <li><a href="/punkrock">Punk Rock</a></li>
                        <li><a href="/country">Country</a></li>
                        <li><a href="/alternative">Alternative</a></li>
                        <li><a href="/gospel">Gospel</a></li>
                        <li><a href="/indie">Indie</a></li>
                    </ul>
                    <ul class="dropdown-menu" style="left:-480px;">
                            
                            
                        <li><a href="/rock">Rock</a></li>
                        <li><a href="/deep-house">Deep House</a></li>
                        <li><a href="/world-reggae">World Reggae</a></li>
                        <li><a href="/trance">Trance</a></li>
                        <li><a href="/soul">Soul</a></li>
                        <li><a href="/punk-rock">World Punk Rock</a></li>
                        <li><a href="/drum-bass">Drum’n Bass</a></li>
                        <li><a href="/rythem">Rythem</a></li>
                        <li><a href="/smooth-jazz">Smooth Jazz</a></li>
                        <li><a href="/meditation">Meditation</a></li>
                    </ul>
                    <ul class="dropdown-menu" style="left:-640px;">
                        <li><a href="/opera">Opera</a></li>
                        <li><a href="/chill">Chill</a></li>
                        <li><a href="/sleep">Sleep</a></li>
                        <li><a href="/exercise">Exercise</a></li>
                        <li><a href="/latin">Latin</a></li>
                        <li><a href="/audiobook">AudioBook</a></li>    
                    </ul>
                </li>
                <% if (!check){ %>
                    <li><a class="wbg" href="/sign-in">Sign In</a></li>
                    <li><a class="wbg" href="/sign-up">Create Account</a></li>
                    <li><a href="/sign-in"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
                <% } 
                else
                    {%> 
                <li><a class="toggle-sidebar" id="menu-toggle"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
                    <%}
                %>
                
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" id="row-main">
            <div class="col-sm-12" id="content">

                <div class="container" style="margin-top:100px;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Daily</th>
                                <th>Weekly</th>
                                <th>Monthly</th>
                                <th>Yearly</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="songlink.html">Sample text</a></td>
                                <td><a href="songlink.html">Sample text</a></td>
                                <td><a href="songlink.html"> john@example.com</a></td>
                                <td><a href="songlink.html">Sample text</a></td>

                            </tr>
                            <tr>
                                <td><a href="songlink.html">Sample text</a></td>
                                <td><a href="songlink.html">Sample text</a></td>
                                <td><a href="songlink.html"> john@example.com</a></td>
                                <td><a href="songlink.html">Sample text</a></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-sm-2 collapsed" id="sidebar">
                <ul>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="profile.html">Likes</a></li>
                    <li><a href="profile.html">Favorites</a></li>
                    <li><a href="profile.html">Playlist</a></li>
                    <li><a href="popular.html">Music Video</a></li>
                    <li><a href="/">Top Billboards</a></li>
                    <li><a href="settings.html">Settings</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $(".toggle-sidebar").click(function () {
                $("#sidebar").toggleClass("collapsed");
                $("#content").toggleClass("col-sm-12 col-sm-10");

                return false;
            });
        });
    </script>
</body>
</html>